@using YORed.Domain.Entities

@{
    ViewData["Title"] = "MyReports";
}

<h2>My Reports</h2>

<h2>All Reports</h2>
@foreach (Report report in ViewBag.Reports)
{
    <div class="row">
        <div class="col-sm-6">
            <div class="jumbotron">
                <div class="row">
                    <span style="font-weight: 900" class="col-sm-12">Title: @report.Title</span>
                    <span class="col-sm-12">Date: @report.Date</span>
                    <span class="col-sm-12">Status: @report.Status</span>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
}
