@using YORed.Domain.Entities

@{
    ViewData["Title"] = "MyReports";
}

<h2>Мои заявки</h2>
<br />
@foreach (Report report in ViewBag.Reports)
{
    <div class="row">
        <div class="col-sm-6">
            <div class="jumbotron">
                <div class="row">
                    <span style="font-weight: 900" class="col-sm-12">Заголовок: @report.Title</span>
                    <img width="200" height="200" src="data:image/gif;base64,@report.Photos.First()" />
                    <span class="col-sm-12">Дата: @report.Date</span>
                    <span class="col-sm-12">Статус: @report.Status</span>
                </div>
                <a class="btn btn-info" href="/Moderator/Report?id=@report.Id">Открыть</a>
            </div>
        </div>
    </div>
    <br />
    <br />
}
