@using YORed.Domain.Entities
<div class="jumbotron">
    @using (Html.BeginForm("CreateUser", "Admin", FormMethod.Post))
    {
        <div class="row">

            <div class="col-sm-offset-4 col-sm-4">
                <div class="row">
                    <input type="number" maxlength="11" min="70000000000" class="form-control" name="phone" placeholder="79993332244">
                </div>
                <div class="row" style="margin-top: 10px">
                    <select name="role" class="col-sm-5">
                        <option value="User">Пользователь</option>
                        <option value="Moderator">Модератор</option>
                    </select>
                    <input type="submit" value="Создать" class="btn btn-success col-sm-offset-3 col-sm-4">
                </div>
            </div>
        </div>
    }


    <hr />
    @foreach (User user in ViewBag.Users)
    {
        <div class="row">
            <div class="col-sm-3">@user.Login</div>
            <div class="col-sm-3">@user.FirstName</div>
            <div class="col-sm-3">@user.LastName</div>
            <div class="col-sm-3">@user.Role</div>
        </div>
        <hr />
    }
</div>